<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Congrats!</strong> A new activity has been added.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
